<div>
    <h3>For text</h3>
    <h3>@ViewData["Text"]</h3>
    <h3>and special characted</h3>
    <h3>@ViewData["SpecialCh"]</h3>
    <h3>the controller found </h3>
    <h3>@ViewData["No"]</h3>
    <h3>characters</h3>
</div>
<div>
    @ViewBag.MyMessage;
</div>