<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOnlineGradesWCF" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/onlineGrades/Interface"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnlineGradesWCF"
          contract="IOnlineGradesWCF" name="BasicHttpBinding_IOnlineGradesWCF" />
    </client>
  </system.serviceModel>
</configuration>