@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resetare Parola";
    ViewData["Email"] = "Email ";
}


<div class="content-page autentificare">
    <div class="autentificare-titlu">Resetare Parola</div>

    @model onlineGrades.MVC.Models.ResetPasswordViewModel
    <center>
        <form class="form-login" asp-controller="ResetPassword" asp-action="SendResetMail" method="post">
            <span class="username camp">@ViewData["Email"]:    </span>
            <input class="username-input" asp-for="Email" type="text" required autofocus placeholder=" Introduceti email-ul contului" /><br /><br /><br />
            <select class="username camp" asp-for="TipCont">
                <option value="student">Student</option>
                <option value="profesor">Profesor</option>
            </select><br/><br/>
            <button class="buton" type="submit">Resetare parola</button>
        </form>
    </center>
</div>