@{
    ViewData["Title"] = "Note Online FII";
}



<div class="content-page">
    <div class="index">
        <div class="index-titlu">
            Bine ai venit!
        </div>
        <div class="col-md-6">
        <div class="index-content-subtitlu">
            Ești student la Facultatea de Informatică?
        </div>
        <div class="index-content-subtitlu-content">
            Vezi care sunt notele tale de la examene și nu numai!<br/><br />
            Fii la curent cu ce e nou!<br /><br />
            Folosește meniul pentru autentificare, iar dacă încă nu ai cont nu mai pierde timpul și înregistrează-te!
        </div>
            <img class="studenti img-responsive" style="margin-left:200px" src="~/images/students.png" alt="studenti" />
        </div>
        <div class="col-md-6">
            
                <div class="index-content-subtitlu">
                    Ești profesor la Facultatea de Informatică?
                </div>
                <div class="index-content-subtitlu-content">
                    Pune note pentru studentii tai  <br />
                </div>
                <img class="profesori img-responsive" style="margin-left:200px" src="~/images/teachers.png" alt="profesori" />
            
        </div>
    </div>
</div>