@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Resetare Parola";
    ViewData["Parola"] = "Parola";
    ViewData["ParolaC"] = "Confirmare Parola";

}
<div class="container-fluid">
    <div class="content-page autentificare">
        @model onlineGrades.MVC.Models.NewPasswordViewModel
        <div class="text-center">
            <form asp-controller="ResetPassword" asp-action="NewPassword" method="post">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@ViewData["Parola"]:</label>
                            <div class="col-md-8">
                                <input class="form-control" asp-for="Parola" type="password" required autofocus placeholder="Parola noua">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6">
                        <div class="form-group">
                            <label class="col-md-4 control-label">@ViewData["ParolaC"]:</label>
                            <div class="col-md-8">
                                <input class="form-control" asp-for="ParolaC" type="password" required autofocus placeholder="Confirmarea parolei">
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-sm-4 col-lg-4"></div>
                    <div class="col-sm-4 col-lg-4">
                        <button class="buton" type="submit">Resetare parola</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>