<div>
    <h3>For</h3>
    <h3>@ViewData["Number 1"]</h3>
    <h3>and vat</h3>
    <h3>@ViewData["VAT"]</h3>
    <h3>Result is</h3>
    <h3>@ViewData["Result"]</h3>
</div>

<div>
    @ViewBag.MyMessage;
</div>